@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');
:root {
    box-sizing: border-box;
    --primary-color: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-grey: hsl(217, 12%, 63%);
    --neutral-dark-blue: hsl(213, 19%, 18%);
    --neutral-very-dark-blue: hsl(216, 12%, 8%);
    --font-size-big: 700;
    --font-size-small: 400;
}

* {
    font-family: 'Overpass';
    padding: 0px;
    margin: 0px;
}

main {
    background-color: var(--neutral-very-dark-blue);
    background: linear-gradient(
        45deg,
        var(--neutral-very-dark-blue) 45%,
        var(--neutral-dark-blue) 100%
    );
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}

h1 {
    color: var(--neutral-white);
    margin: 10px 0px;
}

p {
    color: var(--neutral-light-grey);
    margin: 15px 0px;
}

.big-size-font {
    font-weight: var(--font-size-big);
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

li {
    & button {
        font-weight: bold;
        font-size: 1.5rem;
        border-radius: 100%;
        padding: 15px;
        color: var(--neutral-light-grey);
        background-color: var(--neutral-dark-blue);
        &:hover {
            color: var(--neutral-dark-blue);
            background-color: var(--primary-color);
        }
    }
}

.img-star {
    padding: 10px;
    border-radius: 100%;
    background-color: var(--neutral-dark-blue);
}

.button_send {
    background-color: var(--primary-color);
    width: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.score-selected {
    color: var(--neutral-very-dark-blue);
    background-color: var(--neutral-white);
}

.hidden {
    display: none;
}

.result {
    color: var(--primary-color);
    background-color: var(--neutral-dark-blue);
    padding: 10px;
    border-radius: 15px;
}

.second-view-text {
    text-align: center;
}

.second-view-img {
    align-items: center;
}
